// Primary Colors
$orange-clr: hsl(26, 100%, 55%);
$pale-orange-clr: hsl(25, 100%, 94%);
// Neutral Colors
$very-dark-blue-clr: hsl(220, 13%, 13%);
$dark-grayish-blue-clr: hsl(219, 9%, 45%);
$grayish-blue-clr: hsl(220, 14%, 75%);
$light-grayish-blue-clr: hsl(223, 64%, 98%);
$white-clr: hsl(0, 0%, 100%);
$black-clr: hsl(0, 0%, 0%);
$divider-clr: rgba(145, 145, 145, 0.199);

$shadow-card: 1px 11px 20px 5px rgba(46, 46, 46, 0.336);

$border-radius-btn: 8px;
$padding-btn: 1.5rem 2rem;
$padding-mobile: 0 2.5rem;
